body , ul , li, h1, h2 , a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
p{
    font-size: 18px;
}
header{
    background-color: #f63232;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}
header h1{
    color: white;
    border: 8px solid white;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 36px;
}
.banner{
    position: relative;
}
.banner img {
    max-width: 100%;
}
.banner .welcome{
    position: absolute;
    left: 0;
    top: 50%;
    background-color: #feb614;
    color: white;
    font-size: 20px;
    padding: 20px;
}
.banner .welcome span{
    font-size: 1.4em;
}
nav {
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top:100px;
    z-index: 1;
}
nav ul {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
}
nav li{
    width: 25%;
    font-size: 24px;
    display: inline-block;
}
nav li a {
    text-decoration: none;
    color: #4b4b4b;
}
nav li a.join{
    color: #f63232;
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2{
    color: #f63232;
    font-size: 48px;
}
article p {
    line-height: 2em;
    color: #4b4b4b;
}
.images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.images li {
    display: inline-block;
    width: 40%;
    margin:  20px 5%;
    list-style-type: none;
    position: relative;
}
.images li img{
    max-width: 100%;
}
section.join {
    background-color: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}
section.join h2 {
    font-size: 36px;
}
form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
}
footer{
    background-color: #f63232;
    color: white;
    padding: 10px;
    text-align: center;
}
/* Pseudo Classes & Elements */

.images li:hover{
    position: relative;
    top:-4px;
}
form input:focus{
    border: 4px dashed #4b4b4b;
    outline: none;
}
form input:valid{
    border: 4px solid #71d300;
}
article p::first-line{
    font-weight: bold;
    font-size: 1.2em;
}
section.join p::first-letter{
    font-size: 2em;
    font-weight: bold;

}
section.join p::selection{
    background-color: #f63232;
    color: white;
}
p::after{
    content: '.....';
}

/* responsive styles */
@media screen and (max-width: 1400px){
    .banner .welcome {
        font-size: 18px;
    }
}
@media screen and (max-width: 960px){
    .banner .welcome {
        font-size: 14px;
    }
    nav li {
        font-size: 18px;
    }
}
@media screen and (max-width: 700px){
    .banner .welcome {
        font-size: 12px;
        position: relative;
        text-align: center;
    }
    .banner .welcome br{
        display: none;
    }
    .banner .welcome span{
        font-size: 1em;
    }
    nav li {
        font-size: 16px;
    }
    .images li{
        width: 100%;
        display: block;
        margin: 20px auto;
    }
}
@media screen and (max-width: 560px){
    .banner .welcome {
        font-size: 12px;
        position: relative;
        text-align: center;
    }
    .banner .welcome br{
        display: none;
    }
    .banner .welcome span{
        font-size: 1em;
    }
    nav li {
       display: block;
       width: 100%;
       margin: 12px 0;
    }
    .images li{
        width: 100%;
        display: block;
        margin: 20px auto;
    }
    article h2{
        font-size: 36px;
    }
    header , nav{
        position: relative;
        top:0;
    }
}
